@import url("https://fonts.googleapis.com/css2?family=Maname&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yaldevi:wght@200..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #e05b5b;
  --primary-dark: #cc4b4b;
  --secondary-color: #e47f7f;
  --bg-color: #fcf5f5;
  --text-color: #483535;
  --button-bg-color: #f7c4c4;
  --button-hover-color: #e9a8a8;
  --button-text-color: #483535;
  --input-border: #e9a8a8;
  --highlight-color: #d04a4a;
  --success-color: #4CAF50;
}

#customer-list {
  border: none;
}

.add-customer {
  padding: 1px;
  border-radius: 6px;
  background-color: var(--primary-color);
  outline: none;
  border: none;
  color: white;
  width: 20px;
  height: 20px;
  font-size: 15px;
}
/*search customer*/

.eland-pos-input-cont {
  position: relative;
  width: 100%;
}
#search-customer {
  width: 100%;
  box-sizing: border-box;
}

.dropdown-list {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
  z-index: 1000;
  max-height: 150px;
  overflow-y: auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: var(--bg-color);
}
.invoice-container-rmaster {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
}

.invoice-container-rmaster::-webkit-scrollbar {
  width: 5px;
  background-color: #dcdde1;
}

.invoice-container-rmaster::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #192a56;
}

.header-container-rmaster {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  position: relative;
}

.text-partition-cont {
  height: 100%;
  width: 73%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.content-row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.first-row {
  margin-bottom: 50px;
}

.company-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: 80px;
  margin-right: 0px;
  width: 600px;
  height: fit-content;
}

#header-image {
  width: 220px;
  height: 220px;
  margin-bottom: -80px;
  margin-left: -80px;
}

#header-image img {
  width: 220px;
  height: 220px;
}

.heading-english {
  font-family: "Noto Serif", serif;
  font-size: 2.2em;
  margin-top: 10px;
  margin-bottom: 4px;
  letter-spacing: 3px;
  font-weight: 500;
}

.heading-sinhala {
  font-family: "Maname", serif;
  font-size: 3em;
  letter-spacing: 3px;
  font-weight: 600;
}

.company-motto {
  font-family: "Yaldevi", serif;
  font-size: 1.6em;
}

.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  width: 250px;
  height: 100%;
}

#current-date {
  font-size: 1.1em;
  color: white;
  font-family: "Poppins", serif;
}

#current-time {
  font-size: 1.3em;
  color: white;
  font-family: "Poppins", serif;
  letter-spacing: 3px;
}

.bill-values-container-main {
  width: 32%;
  height: 100%;
  background-color: var(--primary-dark);
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.total-val-indicator-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Poppins", serif;
  border-radius: 5px;
  line-height: 2.1em;
  transform: scale(1.2);
}

.total-val-indicator-small {
  width: 285px;
  margin-left: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--primary-dark);
  color: white;
  font-family: "Poppins", serif;
  border-radius: 5px;
  padding: 3px 10px;
}

.total-val-label-main {
  font-size: 1.9em;
  font-weight: 500;
}

.total-val-input-main {
  background-color: transparent;
  color: white;
  font-family: "Roboto", serif;
  font-size: 3em;
  font-weight: 600;
  border: none;
  outline: none;
  text-align: center;
  min-width: 100px;
  max-width: 400px;
  transform: translateY(-10px);
}

.salesman-info-ribbon {
  width: 100%;
  min-height: 50px;
  background-color: var(--bg-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tr-opt-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space-evenly;
  margin-left: 10px;
  width: 300px;
}

.tr-opt-btn-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.eland-pos-input-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px 10px;
  width: 180px;
}

.eland-input-label {
  font-family: "Poppins", serif;
  font-size: 0.8em;
  font-weight: 500;
  color: var(--text-color);
  text-transform: capitalize;
  padding-left: 10px;
}

.eland-input {
  width: 100%;
  border: 2px solid var(--input-border);
  border-radius: 5px;
  background-color: transparent;
  padding: 5px 10px;
  font-family: "Poppins", serif;
  font-size: 0.9em;
  outline: none;
  color: var(--text-color);
}

.transaction-type-selector {
  padding: 5px 30px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tra-type-selector {
  accent-color: var(--text-color);
  margin-right: 10px;
}

.tra-type-label {
  margin-right: 10px;
  font-family: "Poppins", serif;
  font-size: 0.9em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tra-type-label > i {
  margin-right: 6px;
}

.eland-pos-button {
  padding: 5px 20px;
  border-radius: 6px;
  background-color: var(--primary-color);
  outline: none;
  border: none;
  color: white;
  font-family: "Poppins", serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: capitalize;
  font-size: 0.8em;
}

.eland-pos-button > i {
  margin-right: 10px;
}

.eland-pos-button:hover {
  cursor: pointer;
  background-color: var(--primary-dark);
}

.cart-table-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 240px;
  width: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.cart-table-cont::-webkit-scrollbar {
  width: 4px;
  background-color: #dfe4ea;
}

.cart-table-cont::-webkit-scrollbar-thumb {
  width: 4px;
  background-color: var(--primary-dark);
}

/* item components container */
.item-comp-container {
  width: 100%;
  height: 380px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 15px;
  position: relative;
}

.held-invoice-container {
  width: 180px;
  height: 100%;
  border: 2px solid #2c3e50;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.held-invoice-heading {
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: var(--primary-color);
  color: white;
  font-family: "Poppins", serif;
  border-bottom: 2px solid var(--secondary-color);
}

#held-invoices {
  flex-grow: 1;
  /* Allows this div to take remaining space */
  overflow-y: auto;
  /* Enables vertical scrolling */
  overflow-x: hidden;
  /* Prevents horizontal scrolling */
  width: 100%;
  /* Ensures it fits the container width */
}

.shopping-cart-container {
  width: calc(100vw - 200px);
  height: 100%;
}

.operation-selector-ribbon {
  height: 30px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.item-cart {
  margin: 10px 0;
  width: 95%;
  border-collapse: collapse;
}

.item-cart > thead > tr > th {
  font-family: "Poppins", serif;
  font-weight: 500;
  text-align: center;
  background-color: var(--primary-dark);
  color: white;
  padding: 10px 20px;
}

.item-cart > tbody > tr > td {
  padding: 10px 20px;
}

.item-cart > tbody > tr:nth-child(odd) {
  background-color: #dfe4ea;
}

.item-cart > tbody > tr:nth-child(even) {
  background-color: #f1f2f6;
}

.item-cart > tbody > tr > td {
  font-family: "Poppins", serif;
  font-weight: 400;
  text-align: center;
  color: var(--text-color);
  font-size: 0.9em;
}

.item-cart-mistb {
  margin: 10px 0;
  width: 95%;
  border-collapse: collapse;
}

.item-cart-mistb > thead > tr > th {
  font-family: "Poppins", serif;
  font-weight: 500;
  text-align: center;
  background-color: var(--primary-dark);
  border: 2px solid var(--primary-dark);
  color: white;
  padding: 10px 20px;
}

.item-cart-mistb > tbody > tr > td {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #2d3436;
}

.item-cart-mistb > tbody > tr > td {
  font-family: "Poppins", serif;
  font-weight: 400;
  text-align: center;
  font-size: 0.9em;
}

/* cart footer */
.cart-footer {
  width: 100%;
  height: 130px;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.function-btn-cont {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  transform: translateY(-10px);
}

.bill-mode-cont {
  position: absolute;
  bottom: -25px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-dark);
  color: white;
  accent-color: black;
  border-radius: 5px;
  font-size: 0.9em;
  border: none;
  outline: none;
  width: 180px;
  padding: 3px 0;
}

.bill-mode-cont > label:nth-child(2) {
  margin-left: 20px;
}

.bill-mode-cont > label > i {
  margin: 0 5px;
  font-family: "Poppins", serif;
  text-transform: capitalize;
}

.button-style {
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin: 5px;
  border: none;
  outline: none;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  transition: 0.3s;
}

.button-style > i {
  font-size: 1.8em;
}

.button-style > span {
  font-size: 0.8em;
  font-family: "Poppins", sans-serif;
  padding: 5px 5px 0 5px;
}

.button-style:hover {
  cursor: pointer;
  transform: translateY(-10px);
  background-color: var(--button-hover-color);
}

.total-val-indicator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-dark);
  color: white;
  font-family: "Poppins", serif;
  margin: 4px;
  border-radius: 5px;
  padding: 3px 10px;
}

/* option menu stylings */
.option-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 30px;
  right: 20px;
}

.opt-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 0;
  overflow: hidden;
  transition: 0.4s;
  opacity: 0;
}

.expand {
  height: 250px;
  opacity: 1;
}

.opt-child-btn:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
}

.opt-child-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid var(--secondary-color);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  transition: 0.2s;
  color: var(--primary-color);
}

.opt-child-btn > i {
  font-size: 1.4em;
}

.opt-child-btn > span {
  color: white;
  font-family: "Poppins", serif;
  font-size: 0.6em;
}

.opt-btn {
  margin-top: 20px;
  background-color: var(--primary-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2em;
  border: none;
  outline: none;
}

.cart-item-counter {
  margin-top: 20px;
  background-color: var(--primary-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2em;
  position: relative;
}

.item-count-indicator {
  width: 20px;
  height: 20px;
  background-color: var(--highlight-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 0.7em;
}

.item-desc-cont {
  width: 380px;
  height: 95%;
  background-color: var(--primary-dark);
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
}

.img-box {
  width: 330px;
  height: 212px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-bottom: -55px;
  margin-right: 5px;
  margin-top: 5px;
  position: relative;
  background-color: var(--primary-dark);
}

.img-box img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

/* Placeholder text shown when image is missing */
.img-box::before {
  content: "Product Image";
  font-size: 16px;
  color: white;
  position: absolute;
  text-align: center;
  width: 100%;
}

/* Hide placeholder when an image is loaded */
.img-box img[src] {
  display: block;
}
.img-box img[src]:not([src=""]) + ::before {
  content: "";
}

#create-invoice-header {
  margin-left: -830px;
  margin-top: -45px;
  font-size: 34px;
  background-color: var(--primary-dark);
  color: white;
  padding: 2px 25px;
  border-radius: 6px;
}

.img-phold-text {
  font-size: 0.6em;
  color: white;
  font-family: "Poppins", serif;
}

.item-info {
  margin-left: 10px;
  height: 100%;
  font-family: "Poppins", serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
}

.info-label {
  font-size: 0.8em;
}

.info-value {
  font-size: 0.9em;
  font-weight: 500;
}

.disc-percentage,
.qty-indicator {
  width: 80px;
  background-color: transparent;
  font-family: "Poppins", serif;
  font-weight: 400;
  text-align: center;
  color: inherit;
  font-size: 1em;
  border: none;
}

.barcode-grabber-cont {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 120px;
  left: 0;
  position: absolute;
  transform: translateX(-190px);
  transition: 0.3s;
}

.bgrab-expand {
  transform: translateX(0);
}

.barcodeGrabber {
  font-size: 0.9em;
  color: #2d3436;
  padding-left: 20px;
  outline: none;
}

.bcgrab-display {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: #0a3981;
  color: white;
  border-radius: 8px;
  transform: translateX(-10px);
}

.alternate-price-cont {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 11px;
}

.alt-price-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.alt-price-box2 {
  margin-top: -15px;
}

.alt-price-label {
  font-size: 0.6em;
  text-transform: uppercase;
  text-align: center;
}

.alt-price-val {
  font-size: 0.8em;
  text-align: center;
  visibility: hidden;
}

.alt-price-val-visible {
  font-size: 0.8em;
  text-align: center;
}

.show-alt {
  visibility: visible;
}

.alt-toggle-btn {
  width: 40px;
  font-size: 0.7em;
  color: #2d3436;
  background-color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  font-weight: 500;
  margin: 0 auto;
  border-radius: 8px;
  transition: 0.3s;
  text-transform: capitalize;
}

.alt-toggle-btn:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
}

.multiple-item-selector-modal {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
  display: none;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
}

.mis-modal-area {
  width: 100%;
  max-width: 850px;
  padding: 10px 0;
  height: 500px;
  overflow-y: scroll;
  background-color: white;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.mis-modal-area::-webkit-scrollbar {
  width: 4px;
  background-color: #dcdde1;
}

.mis-modal-area::-webkit-scrollbar-thumb {
  width: 4px;
  background-color: var(--primary-dark);
}

.mis-modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #2d3436;
  color: white;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.mis-modal-close:hover {
  cursor: pointer;
}

.show-mis-modal {
  display: flex;
}

.show-iwb-modal {
  display: flex;
}

.selected-row {
  background-color: #2980b9 !important;
  color: white !important;
}

.iwb-search-field-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  padding: 8px 10px;
  color: #2d3436;
  border: 2px solid #2d3436;
  margin-top: 10px;
  border-radius: 5px;
  transform: translateX(-240px);
}

.iwb-search-field {
  color: #2d3436;
  border: none;
  outline: none;
}

.held-invoice-btn {
  background-color: white;
  color: var(--primary-color);
  padding: 10px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%;
  border: 2px solid var(--primary-color);
}

.held-invoice-btn:hover {
  background-color: var(--primary-color);
  color: white;
}

/* .held-invoice-btn:active { 
  background-color: red;
  color: white;
} */

.held-invoice-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -10px;
  margin-top: 5px;
  margin-left: 5px;
}

.held-invoice-delete-icon {
  color: var(--highlight-color);
  font-size: 18px;
  cursor: pointer;
  padding-left: 10px;
  /* background-color: #2980b9; */
  margin-right: 10px;
}

.held-invoice-delete-icon:hover {
  color: darkred;
}

/* Modal Styling */
#refundModal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.refund-modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: fit-content;
  max-width: 80%;
  text-align: center;
  position: relative;
  height: fit-content;
  max-height: 80%;
  overflow: auto;
}

#refund-close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

/* Search Section */
.refund-search-section {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.refund-search-section input {
  padding: 5px;
  margin-right: 5px;
  border-radius: 4px;
}

.refund-search-section label {
  font-weight: 500;
}

.refund-search-section button {
  padding: 5px 10px;
  cursor: pointer;
}

/* Table Styling */
.refund-table {
  width: 100%;
  border-collapse: collapse;
}

.refund-table th,
.refund-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.refund-table th {
  background-color: var(--primary-dark);
  color: white;
}

/* Return Section */
.refund-return-section {
  margin-top: 30px;
}

.refund-return-section label {
  font-weight: 500;
}

#return-cash-amount {
  padding: 8px;
  border-radius: 4px;
}

.cash-return-btn {
  background-color: var(--button-bg-color);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 4px;
}

.refund-bill-id-search-btn {
  background-color: var(--button-bg-color); /* Green background */
  color: white; /* White icon */
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.refund-bill-id-search-btn i {
  font-size: 16px;
}

.refund-bill-id-search-btn:hover {
  background-color: var(--button-hover-color); /* Darker green on hover */
}

.calculator {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
  z-index: 1000;
  width: fit-content;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid black;
}

/* Draggable Header */
#calculatorHeader {
  width: 100%;
  cursor: move;
  background: black;
  color: white;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

/* Button Styling */
#calculatorModal div button {
  width: 63px;
  height: 63px;
  margin: 3px;
  font-size: 22px;
  cursor: pointer;
}

#calcInput {
  width: 100%;
  padding: 6px;
  font-size: 22px;
}

#cal-close-btn {
  margin-top: 6px;
  padding: 5px 8px;
  margin-left: 2px;
  background-color: black;
  color: white;
  border-radius: 4px;
  font-size: 16px;
}

.short-cut-keys-modal {
  width: 500px;
  padding: 10px;
  border-radius: 6px;
  border: 2px solid #2d3436;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  display: block;
  margin-top: 100px;
  left: 50%;
  transform: translate(-50%, -200%);
  position: absolute;
  z-index: 10;
  opacity: 0;
  transition: 0.4s;
}

.attendance-mark-modal {
  width: 500px;
  padding: 10px;
  border-radius: 6px;
  border: 2px solid #2d3436;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  display: block;
  margin-top: 200px;
  left: 50%;
  transform: translate(-50%, -200%);
  position: absolute;
  z-index: 11;
  opacity: 0;
  transition: 0.4s;
}

#attendanceBarcodeInput {
  padding: 5px 10px;
  width: 300px;
  font-size: 15px;
  border: 2px solid grey;
  border-radius: 5px;
  margin-bottom: 20px;
  display: block;
  margin: 20px auto;
}

.fade-sk-modal {
  opacity: 1;
  transform: translate(-50%, 0);
}

.short_cut_heading {
  width: 100%;
  text-align: center;
  padding: 4px 20px;
  margin: 0 auto;
  font-size: 1.4em;
  font-weight: 600;
  border-bottom: 3px solid var(--primary-dark);
}

.shortcut {
  display: flex;
  justify-content: flex-start;
  margin: 5px 0;
}

.shortcut > span {
  width: 150px;
}

.held-invoice-item.highlighted {
  background-color: #acadaf;
  border-radius: 5px;
}

/* bill cancellation modal */
.bill-cancellation-modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  z-index: 3;
  display: none;
  justify-content: center;
  align-items: center;
}

.bc-form-area {
  width: 350px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.bc-title {
  width: 100%;
  padding: 3px 5px;
  border-bottom: 1px solid grey;
}

.cancellation-prompt {
  font-size: 0.8em;
  color: grey;
  margin-top: 5px;
  margin-bottom: 10px;
}

.bc-btn {
  margin: 10px auto;
  background-color: var(--highlight-color);
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  border: none;
}

.bc-btn:hover {
  cursor: pointer;
}

.bc-close-btn {
  background-color: var(--text-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  position: absolute;
  top: -10px;
  right: -10px;
}

.bc-close-btn:hover {
  cursor: pointer;
}

.bc-title {
  font-weight: 500;
  color: var(--highlight-color);
}

.display-bc-modal {
  display: flex;
}

#barcode-input {
  position: relative;
}

.suggestion-box {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.suggestion-item:hover {
  background: #f0f0f0;
}

.no-results {
  padding: 8px;
  color: #777;
  text-align: center;
}

/* measurement unit modal */
.mes-unit-modal {
  width: 100%;
  max-width: 200px;
  height: 100px;
  padding: 20px;
  border: 2px solid #2d3436;
  border-radius: 10px;
  position: absolute;
  background-color: white;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 300px;
  z-index: 10;
}

.mes-unit-modal > table {
  width: 100%;
  border-collapse: collapse;
}

.mes-unit-modal > table > tr > td {
  text-align: center;
  padding: 5px 15px;
  border-top: 2px solid var(--text-color);
  border-bottom: 2px solid var(--text-color);
}

.show-mes-unit-modal {
  display: flex;
}

/* barcode reader table styling */
.barcode-reader-table>thead>tr>th {
  font-family: "Poppins", serif;
  font-weight: 500;
  text-align: center;
  background-color: var(--primary-dark);
  color: white;
  padding: 1px 2px;
}
