
.header-container-rmaster {
    width: 100%;
    min-height: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2980b9;
    position: relative;
    background-image: url("../images/samples-back.png");
    background-size: contain;
  }
  #current-date {
    font-size: 1.1em;
    color: white;
    font-family: "Poppins", serif;
  }
  
  #current-time {
    font-size: 1.3em;
    color: white;
    font-family: "Poppins", serif;
    letter-spacing: 3px;
  }
  .text-partition-cont {
    height: 100%;
    width: 77%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  
  .content-row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .first-row {
    margin-bottom: 50px;
  }
  
  .company-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 300px;
  }
  .heading-english {
    font-family: 'Noto Serif', serif;
    font-size: 1.5em;
    margin-top: 6px;
    letter-spacing: 3px;
    font-weight: 500;
  }
  
  .heading-sinhala {
    font-family: "Maname", serif;
    font-size: 2.5em;
    letter-spacing: 3px;
    font-weight: 600;
  }
  
  .company-motto {
    font-family: "Yaldevi", serif;
    font-size: 1em;
  }
