:root {
    --primary-color: #e05b5b;
    --secondary-color: #e47f7f;
    --bg-color: #fcf5f5;
    --text-color: #483535;
    --button-bg-color: #f7c4c4;
    --button-hover-color: #e9a8a8;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    text-align: center;
    color: var(--text-color);
}

h1 {
    text-align: center;
    margin-bottom: 15px;
    color: var(--primary-color);
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%; /* Ensures the container spans the full width */
    margin: 0 auto; /* Centers the container itself */
}

table {
    width: 90%;
   /* This might need to be reconsidered for proper table layout */
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Adds shadow effect */
}

table th, table td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: var(--primary-color);
    border: none;
    color: white;
}

table tr:hover {
    background-color: #f1f1f1; /* Row hover effect */
}

.action-buttons {
    display: flex;
    gap: 10px;
}

.action-buttons a {
    text-decoration: none;
    padding: 8px 12px;
    color: white;
    border-radius: 4px;
    font-size: 14px;
}

.action-buttons .edit {
    background-color: var(--primary-color); 
    color: white;
}

.action-buttons .delete {
    background-color: #ff0707; 
    color: #f1f1f1;
    border-radius: 10%;
}

.action-buttons .delete:hover {
    color: #fff3f3; 
    background-color: #73020d; /* Red */
    transform: scale(1.05);
}

.action-buttons .edit:hover {
    background-color: var(--secondary-color); 
    color: #ffffff; 
    transform: scale(1.05);
}

.add-customer {
    background-color: var(--primary-color);
    margin-left: 20px;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.add-customer:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

.add-user-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
}

.add-user-form input, .add-user-form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.add-user-form button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.add-user-form button:hover {
    background-color: var(--secondary-color);
}